<div class="favorites-page">  
  <div class="container-fluid">    
    <div class="row-fluid">      
      <p class="text-xs-center text-bold-custom">{{ title }}</p>      
      <div class="component-card row-fluid">
        <img class="image-card col" src="https://point48.ru/upload/iblock/126/79/product_image_198779_359484.png" alt="">
        <div class ="info col-6">
        <div class="home-title choice-buttons add-to-fav">
          <button class="btn btn-md btn-default" type="submit"> Добавить в избранное </button>
        </div> 
      </div>
      </div>
      <div class="characteristics-list">
        <h1>Характеристики</h1>
        <div class="row characteristic"> 
          <div class="col-sm">Модель</div>
          <div class="col-sm">TUF GAMING B550-PLUS</div>
        </div>
        <div class="row characteristic"> 
          <div class="col-sm">Поддержка двухканального режима работы памяти</div>
          <div class="col-sm">да</div>
        </div>
        <div class="row characteristic"> 
          <div class="col-sm">Модель</div>
          <div class="col-sm">TUF GAMING B550-PLUS</div>
        </div>
        <div class="row characteristic"> 
          <div class="col-sm">Поддержка двухканального режима работы памяти</div>
          <div class="col-sm">да</div>
        </div>
      </div>   
    </div>  
  </div>
</div>