<div class="favorites-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <p class="text-xs-center text-bold-custom">{{ title }}</p>
      </div>
      <div class="article-rectangle" *ngFor="let favoriteItem of favoritesComponentsList">
        <img class="image-article-title" src="{{favoriteItem.src}}" alt="">
        <div class="text-block">
          <a class="text-block-title" (click)="goToComponentCard()">
            {{favoriteItem.name}}
          </a>
          <p class="text-block-content">
            От {{favoriteItem.cost}} руб.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
